@import "../../../styles/breakPoints";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.seachWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  max-width: 750px;

  /* width */
  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 7px;
    box-shadow: inset 0 0 5px grey;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: $colorSecondary;
    border-radius: 7px;
    transition: 5ms all ease;
  }
}

.searchItems {
  @include customGrid($gap: 0px, $gridForL: 2);
  border-radius: 10px;
  border: 3px solid $colorSecondary;
  background-color: $colorBlack;
  padding: 0px 12px;
  margin: 0;
  max-height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
}

@media screen and (min-width: $sm) {
  .seachWrapper {
    width: 100%;
  }
}