@import "../../../styles/breakPoints";
@import "../../../styles/variables";

.seachWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  max-width: 750px;
  
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 7px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: $colorSecondary;
    border-radius: 7px;
    transition: 5ms all ease;
  }
}

@media screen and (min-width: $sm) {
  .seachWrapper {
    width: 100%;
  }
}
