@import "../../../styles/breakPoints";
@import "../../../styles/variables";

.searchItem {
  color: white;
  display: flex;
  column-gap: 12px;
  padding: 12px 8px;
  cursor: pointer;

  input {
    margin: 0;
    outline: none;
    border: none;
    box-shadow: none;
    accent-color: $colorPrimary;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $colorSecondary;
  }

  [role="image-wrapper"] {
    width: 50px;
    height: 50px;

    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: $xl) {
  .searchItem {
    column-gap: 10px;

    [role="info"] {
      column-gap: 20px;
    }

    [role="image-wrapper"] {
      width: 60px;
      height: 60px;
    }
  }
}
