.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;

  [role="universe-type"],
  [role="universe-coming-soon"] {
    position: absolute;
    z-index: 2;
    width: 200px;
    top: 40%;
    left: 52%;
    transform: translate(-50%);
    flex-shrink: 0;
  }

  [role="universe-coming-soon"] {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    width: 200px;
    font-family: "Orbitron", sans-serif;
    margin: 0;
  }
}
