@import "../../../styles/variables";

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    margin: 0;
  }

  [role="character-name"] {
    .selectedWord {
      font-weight: bolder;
      color: $colorSecondary;
    }

    .selectedEvilWord {
      font-weight: bolder;
      color: $colorEvilTheme;
    }
  }
}
