.spaceshipWrapper {
  img {
    width: 100%;
    height: 100%;
  }
}

.sSizeImage {
  width: 140px;
  height: 52px;
}

.mSizeImage {
  width: 200px;
  height: 74px;
}

.lSizeImage {
  width: 240px;
  height: 89px;
}

