.sSizeImage {
  width: 140px;
  height: 79px;
}

.mSizeImage {
  width: 200px;
  height: 112px;
}

.lSizeImage {
  width: 240px;
  height: 126px;
}

.spaceshipWrapper {
  img {
    width: 100%;
    height: 100%;
  }
}
