// shakeAnimation starts here
@mixin shakeAnimation($direction: toRight, $iterationCount: 3) {
  position: relative;
  animation-duration: 0.3s;
  animation-iteration-count: $iterationCount;

  @if ($direction == left) {
    animation-name: toLeft;
  } @else {
    animation-name: toRight;
  }

  @if ($iterationCount == infinite) {
    animation-name: infiniteShake;
    animation-duration: 1s;
  }
}

@keyframes infiniteShake {
  0% {
    left: 17px;
  }
  10% {
    left: 20px;
  }
  20% {
    left: 23px;
  }
  50% {
    left: 20px;
  }
  70% {
    left: 20px;
  }
  80% {
    left: 17px;
  }
  90% {
    left: 23px;
  }
  100% {
    left: 20px;
  }
}

@keyframes toLeft {
  0% {
    right: initial;
  }
  25% {
    left: 3px;
  }
  50% {
    left: 3px;
  }
  100% {
    right: initial;
  }
}

@keyframes toRight {
  0% {
    left: initial;
  }
  25% {
    right: 3px;
  }
  50% {
    right: 3px;
  }
  100% {
    left: initial;
  }
}
// shakeAnimation ends here

// loadingAnimation starts here
@mixin loadingAnimation {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;

  div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $colorLightGray;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 6px;
      animation: ellipsis1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 6px;
      animation: ellipsis2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 24px;
      animation: ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 42px;
      animation: ellipsis3 0.6s infinite;
    }
  }
}

@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(18px, 0);
  }
}

@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
// loadingAnimation ends here

// transition starts here
@mixin transition($element) {
  transition: $element 0.5s ease-in;
}
// loadingAnimation ends here
