.mortyUniverseWrapper {
  height: 70vh;
  position: relative;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portal {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}