@import "../../../styles/mixins";
@import "../../../styles/animations";
@import "../../../styles/variables";
@import "../../../styles/breakPoints";

.listWrapper {
  height: 40vh;
  border: 3px solid $colorMortyYellow;
  background-color: $colorBlack;
  border-radius: 10px;
  @include transition(border);
}

.loadingWrapper {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchItems {
  @include customGrid($gap: 0px, $gridForL: 2);
  align-items: center;
  padding: 0px 12px 0px 24px;
  margin: 0;
  max-height: 40vh;
  overflow: hidden;
  overflow-y: scroll;
}

.evilTheme {
  border: 3px solid $colorEvilTheme;
  @include transition(border);
}

.errorTheme {
  border: 3px solid $colorRickBlue;
  @include transition(border);
}

.quote {
  color: white;
  padding: 8px 12px;
  text-align: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

@media screen and (min-width: $xl) {
  .quote {
    font-size: 20px;
  }
}
