@import "../../../styles/variables";
@import "../../../styles/animations";
@import "../../../styles/breakPoints";

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.themeButton {
  background-color: $colorBlack;
  border-radius: 50px;
  width: 120px;
  height: 48px;
  position: relative;
  cursor: pointer;
  z-index: 1;

  [role="img-wrapper"] {
    position: absolute;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .evilHead {
    top: -1px;
    width: 50px;

    img:nth-child(2) {
      visibility: hidden;
      opacity: 0;
    }

    img:last-child {
      visibility: hidden;
      opacity: 0;
    }
  }

  .rickHead {
    width: 50px;
    top: -116px;
    left: -1px;

    img:first-child {
      visibility: hidden;
      opacity: 0;
    }
  
    img:nth-child(2) {
      visibility: hidden;
      opacity: 0;
    }
  }

  .mortyHead {
    width: 50px;
    top: -55px;

    img:first-child {
      visibility: hidden;
      opacity: 0;
    }

    img:last-child {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.mortyThema {
  border: solid 3px $colorMortyYellow;
  @include transition(border);

  [role="img-wrapper"] {
    @include transition(left);
    left: -2px;
  }
}

.errorTheme {
  border: solid 3px $colorRickBlue;
  @include transition(border);

  [role="img-wrapper"] {
    left: -8px;
  }
} 

.evilTheme {
  border: solid 3px $colorEvilTheme;
  @include transition(border);

  [role="img-wrapper"] {
    @include transition(left);
    left: 72px;
  }
}