.keyboardWrapper {
  display: flex;
  column-gap: 20px;

  section {
    display: flex;
    align-items: flex-end;
    position: relative;
    gap: 5px;

    [role="arrows-up"],  [role="letters-w"]  {
      position: absolute;
      bottom: 55px;
      left: 55px;
    }
  }
}
