@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/animations";

.mainPageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - 40px);

  ul {
    @include customGrid($gridForXl: 3);
    max-width: 1000px;
    margin: 0 auto;
  }
}

.pageTitleAndDescription {
  color: $colorMortyYellow;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 700px;

  h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 50px;
    background-color: black;
  }

  p {
    font-family: "Orbitron", sans-serif;
    margin: 0;
    font-size: 24px;
    background-color: black;
  }
}

.keyboard {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.spaceShipWrapper {
  display: none;
  position: absolute;
  z-index: 4;
  width: max-content;
  height: max-content;
  transition: all 1s;
}

.shakingSpaceship {
  img {
    @include shakeAnimation(left, infinite);
  }
}

@media screen and (min-width: $xl) {
  .keyboard,
  .spaceShipWrapper {
    display: flex;
  }
}
