.sSizeImage {
  width: 140px;
  height: 140px;
}

.mSizeImage {
  width: 200px;
  height: 200px;
}

.lSizeImage {
  width: 260px;
  height: 260px;
}

.portalWrapper {
  img {
    width: 100%;
    height: 100%;
  }
}
